body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u892 {
  position:absolute;
  left:278px;
  top:104px;
  width:47px;
  height:47px;
  color:#FFFFFF;
}
#u893 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  position:absolute;
  left:335px;
  top:120px;
  width:101px;
  height:16px;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:2px;
}
#u896 {
  position:absolute;
  left:222px;
  top:178px;
  width:1114px;
  height:1px;
}
#u897 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898 {
  position:absolute;
  left:164px;
  top:104px;
  width:999px;
  height:478px;
  overflow:hidden;
  visibility:hidden;
}
#u898_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:478px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u898_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:469px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
  color:#666666;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:469px;
  font-size:18px;
  color:#666666;
}
#u900 {
  position:absolute;
  left:2px;
  top:12px;
  width:995px;
  word-wrap:break-word;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u901 {
  position:absolute;
  left:474px;
  top:408px;
  width:98px;
  height:35px;
  color:#666666;
}
#u902 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u903 {
  position:absolute;
  left:336px;
  top:408px;
  width:98px;
  height:35px;
  color:#FFFFFF;
}
#u904 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:2px;
}
#u905 {
  position:absolute;
  left:0px;
  top:63px;
  width:999px;
  height:1px;
}
#u906 {
  position:absolute;
  left:2px;
  top:-8px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907 {
  position:absolute;
  left:12px;
  top:70px;
  width:987px;
  height:299px;
}
#u907_input {
  position:absolute;
  left:0px;
  top:0px;
  width:987px;
  height:299px;
}
#u898_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:478px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u898_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:474px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
  color:#666666;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:474px;
  font-size:18px;
  color:#666666;
}
#u909 {
  position:absolute;
  left:2px;
  top:12px;
  width:995px;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u910 {
  position:absolute;
  left:489px;
  top:417px;
  width:98px;
  height:35px;
  color:#666666;
}
#u911 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u912 {
  position:absolute;
  left:351px;
  top:417px;
  width:98px;
  height:35px;
  color:#FFFFFF;
}
#u913 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:2px;
}
#u914 {
  position:absolute;
  left:0px;
  top:63px;
  width:999px;
  height:1px;
}
#u915 {
  position:absolute;
  left:2px;
  top:-8px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916 {
  position:absolute;
  left:12px;
  top:70px;
  width:987px;
  height:305px;
}
#u916_input {
  position:absolute;
  left:0px;
  top:0px;
  width:987px;
  height:305px;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u917 {
  position:absolute;
  left:439px;
  top:178px;
  width:100px;
  height:64px;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u918 {
  position:absolute;
  left:0px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u919 {
  position:absolute;
  left:432px;
  top:267px;
  width:343px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:16px;
}
#u921 {
  position:absolute;
  left:442px;
  top:310px;
  width:473px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
}
#u925 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u926 {
  position:absolute;
  left:89px;
  top:27px;
  width:176px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u928 {
  position:absolute;
  left:43px;
  top:28px;
  width:36px;
  height:28px;
}
#u929 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u930 {
  position:absolute;
  left:158px;
  top:26px;
  width:15px;
  height:22px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:777px;
}
#u932 {
  position:absolute;
  left:221px;
  top:82px;
  width:1px;
  height:776px;
}
#u933 {
  position:absolute;
  left:2px;
  top:380px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u934 {
  position:absolute;
  left:52px;
  top:608px;
  width:146px;
  height:40px;
  color:#A1A1A1;
  text-align:center;
  line-height:20px;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u936 {
  position:absolute;
  left:70px;
  top:199px;
  width:85px;
  height:16px;
  color:#1E1E1E;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:98px;
}
#u938 {
  position:absolute;
  left:63px;
  top:91px;
  width:100px;
  height:98px;
}
#u939 {
  position:absolute;
  left:2px;
  top:41px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940 {
  position:fixed;
  right:150px;
  bottom:20px;
}
#u940_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u940_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
}
#u942 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u943 {
  position:absolute;
  left:555px;
  top:178px;
  width:100px;
  height:64px;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u944 {
  position:absolute;
  left:0px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:64px;
}
#u945 {
  position:absolute;
  left:671px;
  top:178px;
  width:128px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u946 {
  position:absolute;
  left:0px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u948 {
  position:absolute;
  left:0px;
  top:356px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u948_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u948.mouseOver {
}
#u948_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u948.selected {
}
#u949 {
  position:absolute;
  left:2px;
  top:19px;
  width:219px;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u950 {
  position:absolute;
  left:0px;
  top:410px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u950_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u950.mouseOver {
}
#u950_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u950.selected {
}
#u951 {
  position:absolute;
  left:2px;
  top:19px;
  width:219px;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u952 {
  position:absolute;
  left:0px;
  top:302px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u952_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u952.mouseOver {
}
#u952_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u952.selected {
}
#u953 {
  position:absolute;
  left:2px;
  top:19px;
  width:219px;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u954 {
  position:absolute;
  left:0px;
  top:464px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u954_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u954.mouseOver {
}
#u954_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u954.selected {
}
#u955 {
  position:absolute;
  left:2px;
  top:19px;
  width:219px;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:369px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  position:absolute;
  left:222px;
  top:178px;
  width:168px;
  height:369px;
}
#u956_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:369px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956.mouseOver {
}
#u956_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:369px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956.selected {
}
#u957 {
  position:absolute;
  left:2px;
  top:176px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  position:absolute;
  left:223px;
  top:238px;
  width:168px;
  height:60px;
}
#u958_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958.mouseOver {
}
#u958_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958.selected {
}
#u959 {
  position:absolute;
  left:2px;
  top:22px;
  width:164px;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u960 {
  position:absolute;
  left:222px;
  top:178px;
  width:168px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u960_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u960.mouseOver {
}
#u960_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u960.selected {
}
#u961 {
  position:absolute;
  left:2px;
  top:22px;
  width:164px;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u962 {
  position:absolute;
  left:815px;
  top:178px;
  width:100px;
  height:64px;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u963 {
  position:absolute;
  left:0px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u964 {
  position:absolute;
  left:412px;
  top:544px;
  width:12px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u965 {
  position:absolute;
  left:0px;
  top:-14px;
  width:12px;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u966 {
  position:absolute;
  left:432px;
  top:547px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u968 {
  position:absolute;
  left:412px;
  top:358px;
  width:12px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u969 {
  position:absolute;
  left:0px;
  top:-14px;
  width:12px;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u970 {
  position:absolute;
  left:432px;
  top:361px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u972 {
  position:absolute;
  left:434px;
  top:390px;
  width:505px;
  height:149px;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u974 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u975 {
  position:absolute;
  left:100px;
  top:0px;
  width:150px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u976 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u977 {
  position:absolute;
  left:250px;
  top:0px;
  width:100px;
  height:36px;
}
#u978 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u979 {
  position:absolute;
  left:350px;
  top:0px;
  width:150px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u980 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u981 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:36px;
}
#u982 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u983 {
  position:absolute;
  left:100px;
  top:36px;
  width:150px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u984 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u985 {
  position:absolute;
  left:250px;
  top:36px;
  width:100px;
  height:36px;
}
#u986 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u987 {
  position:absolute;
  left:350px;
  top:36px;
  width:150px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u988 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u989 {
  position:absolute;
  left:0px;
  top:72px;
  width:100px;
  height:36px;
}
#u990 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u991 {
  position:absolute;
  left:100px;
  top:72px;
  width:150px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u992 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u993 {
  position:absolute;
  left:250px;
  top:72px;
  width:100px;
  height:36px;
}
#u994 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u995 {
  position:absolute;
  left:350px;
  top:72px;
  width:150px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u996 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u997 {
  position:absolute;
  left:0px;
  top:108px;
  width:100px;
  height:36px;
}
#u998 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u999 {
  position:absolute;
  left:100px;
  top:108px;
  width:150px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1000 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1001 {
  position:absolute;
  left:250px;
  top:108px;
  width:100px;
  height:36px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u1003 {
  position:absolute;
  left:350px;
  top:108px;
  width:150px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1004 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1005 {
  position:absolute;
  left:434px;
  top:580px;
  width:497px;
  height:155px;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1008 {
  position:absolute;
  left:141px;
  top:0px;
  width:117px;
  height:30px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1010 {
  position:absolute;
  left:258px;
  top:0px;
  width:117px;
  height:30px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1012 {
  position:absolute;
  left:375px;
  top:0px;
  width:117px;
  height:30px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u1014 {
  position:absolute;
  left:0px;
  top:30px;
  width:141px;
  height:30px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1016 {
  position:absolute;
  left:141px;
  top:30px;
  width:117px;
  height:30px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1018 {
  position:absolute;
  left:258px;
  top:30px;
  width:117px;
  height:30px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1020 {
  position:absolute;
  left:375px;
  top:30px;
  width:117px;
  height:30px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u1022 {
  position:absolute;
  left:0px;
  top:60px;
  width:141px;
  height:30px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1024 {
  position:absolute;
  left:141px;
  top:60px;
  width:117px;
  height:30px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1026 {
  position:absolute;
  left:258px;
  top:60px;
  width:117px;
  height:30px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1028 {
  position:absolute;
  left:375px;
  top:60px;
  width:117px;
  height:30px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u1030 {
  position:absolute;
  left:0px;
  top:90px;
  width:141px;
  height:30px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1032 {
  position:absolute;
  left:141px;
  top:90px;
  width:117px;
  height:30px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1034 {
  position:absolute;
  left:258px;
  top:90px;
  width:117px;
  height:30px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1036 {
  position:absolute;
  left:375px;
  top:90px;
  width:117px;
  height:30px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u1038 {
  position:absolute;
  left:0px;
  top:120px;
  width:141px;
  height:30px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1040 {
  position:absolute;
  left:141px;
  top:120px;
  width:117px;
  height:30px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1042 {
  position:absolute;
  left:258px;
  top:120px;
  width:117px;
  height:30px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1044 {
  position:absolute;
  left:375px;
  top:120px;
  width:117px;
  height:30px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u1046 {
  position:absolute;
  left:412px;
  top:754px;
  width:12px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:-14px;
  width:12px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1048 {
  position:absolute;
  left:432px;
  top:757px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#363636;
  line-height:18px;
}
#u1050 {
  position:absolute;
  left:432px;
  top:792px;
  width:511px;
  height:18px;
  font-size:14px;
  color:#363636;
  line-height:18px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#363636;
  line-height:18px;
}
#u1052 {
  position:absolute;
  left:432px;
  top:820px;
  width:43px;
  height:18px;
  font-size:14px;
  color:#363636;
  line-height:18px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1052_ann {
  position:absolute;
  left:468px;
  top:816px;
  width:1px;
  height:1px;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:223px;
}
#u1054 {
  position:absolute;
  left:434px;
  top:848px;
  width:285px;
  height:223px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:104px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
