body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1344px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:81px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2547 {
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:81px;
}
#u2548 {
  position:absolute;
  left:2px;
  top:32px;
  width:1340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:767px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2549 {
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:767px;
}
#u2550 {
  position:absolute;
  left:2px;
  top:376px;
  width:1340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2551 {
  position:absolute;
  left:89px;
  top:27px;
  width:176px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2552 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u2553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u2553 {
  position:absolute;
  left:43px;
  top:28px;
  width:36px;
  height:28px;
}
#u2554 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u2555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:369px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u2555 {
  position:absolute;
  left:177px;
  top:160px;
  width:919px;
  height:369px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u2556 {
  position:absolute;
  left:2px;
  top:27px;
  width:915px;
  word-wrap:break-word;
}
#u2557 {
  position:absolute;
  left:485px;
  top:267px;
  width:322px;
  height:42px;
}
#u2557_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:52px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2558 {
  position:absolute;
  left:485px;
  top:405px;
  width:322px;
  height:52px;
}
#u2559 {
  position:absolute;
  left:2px;
  top:18px;
  width:318px;
  word-wrap:break-word;
}
#u2560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2560 {
  position:absolute;
  left:420px;
  top:280px;
  width:43px;
  height:16px;
}
#u2561 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2562 {
  position:absolute;
  left:485px;
  top:319px;
  width:177px;
  height:42px;
}
#u2562_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2563 {
  position:absolute;
  left:420px;
  top:332px;
  width:43px;
  height:16px;
}
#u2564 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:43px;
}
#u2565 {
  position:absolute;
  left:684px;
  top:319px;
  width:123px;
  height:42px;
}
#u2566 {
  position:absolute;
  left:2px;
  top:13px;
  width:119px;
  word-wrap:break-word;
}
#u2567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2567 {
  position:absolute;
  left:824px;
  top:330px;
  width:44px;
  height:20px;
}
#u2568 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
