body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1341px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1381 {
  position:absolute;
  left:-4px;
  top:0px;
  width:1349px;
  height:81px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1383 {
  position:absolute;
  left:198px;
  top:1531px;
  width:1147px;
  height:36px;
}
#u1384 {
  position:absolute;
  left:2px;
  top:10px;
  width:1143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1385 {
  position:absolute;
  left:217px;
  top:1541px;
  width:386px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  white-space:nowrap;
}
#u1387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1387 {
  position:absolute;
  left:774px;
  top:1541px;
  width:571px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1388 {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  word-wrap:break-word;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1389 {
  position:absolute;
  left:85px;
  top:27px;
  width:176px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u1391 {
  position:absolute;
  left:39px;
  top:28px;
  width:36px;
  height:28px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u1393 {
  position:absolute;
  left:154px;
  top:26px;
  width:15px;
  height:22px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1394 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:777px;
}
#u1395 {
  position:absolute;
  left:230px;
  top:82px;
  width:1px;
  height:776px;
}
#u1396 {
  position:absolute;
  left:2px;
  top:380px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1397 {
  position:absolute;
  left:1124px;
  top:29px;
  width:23px;
  height:23px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1399 {
  position:absolute;
  left:1189px;
  top:33px;
  width:43px;
  height:16px;
  color:#FFFFFF;
}
#u1400 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:82px;
}
#u1401 {
  position:absolute;
  left:1084px;
  top:0px;
  width:1px;
  height:81px;
}
#u1402 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u1403 {
  position:absolute;
  left:1296px;
  top:37px;
  width:13px;
  height:8px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u1405 {
  position:absolute;
  left:48px;
  top:584px;
  width:146px;
  height:40px;
  color:#A1A1A1;
  text-align:center;
  line-height:20px;
}
#u1406 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u1407 {
  position:absolute;
  left:1084px;
  top:0px;
  width:261px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u1408 {
  position:absolute;
  left:66px;
  top:199px;
  width:85px;
  height:16px;
  color:#1E1E1E;
}
#u1409 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:98px;
}
#u1410 {
  position:absolute;
  left:59px;
  top:91px;
  width:100px;
  height:98px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:41px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1412 {
  position:absolute;
  left:267px;
  top:141px;
  width:613px;
  height:62px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:23px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
  line-height:22px;
}
#u1414 {
  position:absolute;
  left:279px;
  top:149px;
  width:339px;
  height:44px;
  color:#6B6B6B;
  line-height:22px;
}
#u1415 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1416 {
  position:absolute;
  left:464px;
  top:287px;
  width:73px;
  height:30px;
  color:#666666;
}
#u1417 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1418 {
  position:absolute;
  left:267px;
  top:221px;
  width:96px;
  height:27px;
  color:#FFFFFF;
}
#u1419 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u1420 {
  position:absolute;
  left:267px;
  top:294px;
  width:187px;
  height:16px;
  color:#6B6B6B;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
}
#u1422 {
  position:absolute;
  left:547px;
  top:294px;
  width:67px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
}
#u1423 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1424 {
  position:absolute;
  left:267px;
  top:364px;
  width:89px;
  height:27px;
  color:#FFFFFF;
}
#u1425 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u1426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u1426 {
  position:absolute;
  left:267px;
  top:103px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u1427 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1428 {
  position:absolute;
  left:0px;
  top:371px;
  width:231px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1428_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1428.mouseOver {
}
#u1428_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1428.selected {
}
#u1429 {
  position:absolute;
  left:2px;
  top:19px;
  width:227px;
  word-wrap:break-word;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1430 {
  position:absolute;
  left:0px;
  top:425px;
  width:231px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1430_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1430.mouseOver {
}
#u1430_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1430.selected {
}
#u1431 {
  position:absolute;
  left:2px;
  top:19px;
  width:227px;
  word-wrap:break-word;
}
#u1432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1432 {
  position:absolute;
  left:0px;
  top:263px;
  width:231px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1432_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1432.mouseOver {
}
#u1432_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1432.selected {
}
#u1433 {
  position:absolute;
  left:2px;
  top:19px;
  width:227px;
  word-wrap:break-word;
}
#u1434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1434 {
  position:absolute;
  left:0px;
  top:317px;
  width:231px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1434_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1434.mouseOver {
}
#u1434_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1434.selected {
}
#u1435 {
  position:absolute;
  left:2px;
  top:19px;
  width:227px;
  word-wrap:break-word;
}
#u1436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1436 {
  position:absolute;
  left:0px;
  top:479px;
  width:231px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1436_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1436.mouseOver {
}
#u1436_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1436.selected {
}
#u1437 {
  position:absolute;
  left:2px;
  top:19px;
  width:227px;
  word-wrap:break-word;
}
